html{
  width: 100vw;
}

body {
  background-image: url("../background.jpg");
  font-family: "Noto Sans JP";
}

#artist, #song{
  font-size: 30px;
  font-family: "Nico Moji";
  color:#86cecb;
}

#text {
  color: #c3e5e7;
  font-size: 70%;
  z-index: 1;
}

#lottie_lightblueStar {
  height: 70%;

  position: absolute;
  top: -70;
  right: -70%;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

#lottie_blueLine {
  position: absolute;
  top: 100;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

#lottie_beatBar {
  height: 200px;
  position: absolute;
  top: 72%;
  right: -60%;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

#lottie_manyStars {
  height: 300px;
  position: absolute;
  top: 27%;
  right: -75%;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

#overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff9;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#overlay .play {
  padding: 7em;
}

.fontAwesomePlay {
  color: #137a7f;
  font-size: 7em;
}
.fontAwesomePlay:hover{
  color:#ffffff;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 50;
}

#container>div {
  width: 100%;
}

#container p {
  padding: 0 0.5em;
  font-weight: bold;
  text-align: center;
}

@keyframes showLyrics {
  0% {
    transform: translate3d(0, 100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

#lyrics {
  font-size: 6em;
  color: #fff;

  animation-name: showLyrics;
  animation-duration: 1s;
}

#media {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: #fff3;
}

#header {
  position: absolute;
  left: 0;
  top: 0;
}

#meta {
  margin: 10px;
  padding: 5px;
  /* background: #fff3; */
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
}

#footer>p {
  margin-left: 10px;
}

#control {
  margin: 20px 30px;
  padding: 5px;
  /* background: #fff3; */

  list-style: none;
  overflow: hidden;
}

#control li{
  text-align: center;
  float: left;
  display: block;
  color: #86cecb;
}

#control i{
  display: block;
}

#control>button {
  margin-right: 5px;
}

#control>button:last-child {
  margin-right: 0;
}

.UIicon {
  padding: 40px 40px 10px 40px;
  color: #86cecb;
  font-size: 3em;
  text-shadow: 1px 1px 1px #ccc;
}

.UIicon:hover {
  color:#ffffff;
}